@page "/projects"

@using UseCases.UseCaseInterfaces
@inject IViewProjectsUseCase ViewProjectsUseCase
@inject IGetCompanyByIdUseCase GetCompanyByIdUseCase
@inject IDeleteProjectUseCase DeleteProjectUseCase
@inject NavigationManager NavigationManager

<h3>Projects</h3>
<br />
@if(projects != null)
{
    <table>
        <thead> 
            <tr>
                <th>Company</th>
                <th>Project Name</th>
                <th>Project Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var project in projects)

            {
                <tr>
                    <td>@GetCompanyByIdUseCase.Execute(project.CompanyId.Value)?.Name</td>
                    <td>@project.Name</td>
                    <td>@project.Description</td>
                    <td>
                        <button type="button" class="btn btn-link" @onclick="@(()=>OnEditProject(project))">Edit</button>
                        &nbsp;
                        <button type="button" class="btn btn-link" @onclick="@(()=>OnDeleteProject(project.ProjectId))">Delete</button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<br /> 
<button type="button" @onclick = "OnClickAddProject" class=" btn btn-primary">Add Project</button>




@code {
    private IEnumerable<Project> projects;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        projects = ViewProjectsUseCase.Execute();
    }

    private void OnClickAddProject()
    {
        NavigationManager.NavigateTo("/addproject");
    }

    private void OnEditProject(Project project)
    {
        NavigationManager.NavigateTo($"/editproject/{project.ProjectId}");
    }

    private void OnDeleteProject(int projectId)
    {
        DeleteProjectUseCase.Execute(projectId);
    }


}
